import tutorials from '../tutorials';

$ const { params } = input;

<app-layout v6 title=tutorials[params.name].title footer=false discord=false>
  <tutorial tutorial=tutorials[params.name]/>
</app-layout>