<app-layout title="Try online" footer=false discord=false>
  <playground defaultFiles=[{ 
    name:"index.marko", 
    path:"/components/index.marko", 
    content:"<let/count=0/>\n<button onClick() { count++ }>\n  ${count}\n</button>" 
  }]/>
</app-layout>
