.doc-container {
    flex:1;
    width:100%;
    max-width:60em;
}

@media (min-width:45em) {
  .doc-container {
    padding-left: 17em;
  }
}

.doc-content {
    position: relative;
}

.doc-content > * {
    margin-bottom: 1.25rem;
}
.doc-content > :is(h2, h3, h4, h5, h6) {
    padding-top:1.25rem;
}

.doc-content > :is(h1, h2) {
  border-bottom:1px solid #f2f4f6;
}

.doc-layout {
    padding:2em;
}

.doc-footer {
    margin-bottom:-2em;
}

.markdown-table {
  border-collapse: collapse;
  font-size: 0.85em;
}

.markdown-table th,
.markdown-table td {
  padding: 0.5em 1em;
}

.markdown-table tr:nth-child(even) {
  background: #f6f8fa;
}

.markdown-table thead {
  border: hidden;
  background: #09c;
  color: #fff;
}

.markdown-table th {
  font-weight: 600;
}

.markdown-table td {
  border: 1px solid #dbdddf;
}

blockquote.protip {
  border-left-color: #ffc800;
  background: #fff8f0;
}