<app-layout title="Try online" footer=false discord=false>
  <playground-6/>
</app-layout>

<style>
  html {
    overflow: hidden;
  }

  .iframe body {
    padding: 0;
  }

  .iframe .site-header {
    display:none;
  }

  .playground-link:not(.iframe .playground-link) {
    display: none
  }
</style>