.doc-sidebar {
  width: 17em;
  position: absolute;
  padding: 2.5rem;
  padding-bottom: 4rem;
  top:0; left:0; bottom:0;
  overflow: auto;
  overscroll-behavior: contain;
  transform: translateY(4em) translateZ(0);
  display: none;
  z-index: 50;
  background: #fff;
}

body.docs .doc-sidebar {
  display: block;
}

.sidebar-close {
  display: none;
  position: fixed;
  top: 0; right: 0;
  padding: 0.75em;
  margin-right: 0.25em;
  font-size: 2rem;
  line-height: 1;
  border: 1px solid transparent; /* for High-Contrast Mode */
  background: none;
}
.sidebar-close:hover {
  background: radial-gradient(circle closest-side, #ccc 58%, rgba(0,0,0,0) 59%);
}

.doc-sidebar h2 {
  font-size: 1.25em;
}

.doc-sidebar.fixed {
  position:fixed;
  bottom:4.5em;
  padding-bottom:2.5rem;
}

.doc-sidebar.no-header {
  transform:translateY(0) translateZ(0);
  bottom:0;
}

.doc-sidebar.transition {
  transition: transform 0.3s;
}

.doc-sidebar .section a {
  font-size:0.75em;
  font-weight: 600;
  color:#d04;
  line-height: 1em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.doc-sidebar ol {
  padding: 0;
  list-style: none;
}

.doc-sidebar > ol {
  margin-top:1.5em;
}

.doc-sidebar ol a {
  color: #626467;
  display: block;
  position: relative;
}

.doc-sidebar ol.toc {
  font-size: 0.9em;
  margin-left: 1rem;

}

.doc-sidebar ol a:is(:hover, .selected),
.doc-sidebar ol.toc a:is(:hover, .selected),
.doc-sidebar ol.toc a:is(:hover, .selected) code {
  color:#27292b;
  text-decoration: none;
}

.doc-sidebar ol li a.selected::before {
  content:'';
  height:100%;
  position: absolute;
  top:0;
  left:-0.5em;
  border-left:2px solid #e7e9eb;
}

.doc-sidebar > ol > li > a.selected::before {
  border-color: #ffc400;
}

.doc-sidebar ol.toc ol {
  display: none;
}

.doc-sidebar ol.toc a.selected + ol {
  display: block;
}

.sidebar-search {
  display: none;
  margin: 0;
  margin-top: 1.5em;
}

@media (max-width:45em) {
  .doc-sidebar,
  .doc-sidebar:is(.no-header, .fixed),
  body.docs .doc-sidebar {
      font-size:1.1em;
      display:block;
      position: fixed;
      bottom: 0;
      transform: none;
      width:100%;
      height:100%;
      opacity:0;
      visibility: hidden; /* stops Tab-focus from wandering into closed sidebar */
      transition: opacity 0.2s;
      background:#fff;
      z-index: 400;
  }
  .doc-sidebar.show,
  body.docs .doc-sidebar.show {
      opacity:1;
      visibility: visible;
  }

  .sidebar-close,
  .doc-sidebar ol.toc ol {
      display:block;
      z-index: 60;
  }
  .doc-sidebar ol a {
      padding:0.25em;
  }
  .sidebar-search {
      display: flex;
      width: 12em;
  }
}
