<a.edit-on-github href=`https://github.com/${input.repo}/blob/main/${input.repoPath}`>
    EDIT <img alt="on GitHub" src="./github.svg"/>
</a>

style {
    .edit-on-github {
        position: absolute;
        top: 0.25em; right: 0;
        font-size: 0.8em;
        color: #a4a6a8;
        font-weight: 600;
    }

    .edit-on-github > img {
        height: 1.2em;
        vertical-align: -0.2em;
        opacity: 0.35;
    }
}
