<app-layout v6=input.v6 class="home">
  <home-hero/>
  <home-features/>
  <home-language v6=input.v6/>
  <home-streaming/>
  <home-hydration/>
  <home-performance/>
  <home-tooling/>
  <home-community/>
</app-layout>
