*, ::after, ::before {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: min(calc(1vmin + 50%), 100%);
}

body {
  color: #1d1924;
  margin: 0;
  font: 1em/1.6 -apple-system, BlinkMacSystemFont, "SF UI Text", "Helvetica Neue",
    Roboto, "Arial Nova", "Segoe UI", Arial, sans-serif;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #191919;
  line-height: 1.25;
  margin: 0;
  font-weight: 400;
}

h1 {
  font-size: 2.6em;
}

h2 {
  font-size: 2.1em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.3em;
  font-weight: 500;
}

h5 {
  font-size: 1.1em;
  font-weight: 600;
}

h6 {
  font-size: 1em;
  font-weight: 600;
}

p {
  margin: 0;
}

pre {
  font-family: Monaco, Menlo, Consolas, monospace;
  font-size: 0.9em;
  margin: 0;
  border-radius: 0.2em;
}

code {
  font-family: Monaco, Menlo, Consolas, monospace;
}

.code-block-filename,
.doc-content > .code-block-filename {
  font-size: 0.75em;
  line-height: 1;
  font-weight: 300;
  background: #202134 linear-gradient(#09d, #202134 10%);
  color:#bbbdbf;
  padding: 0.4em 0.6em 1em;
  display: table;
  margin-bottom: -1em;
  border-radius: 0.3em 0.3em 0 0;
  z-index: 1;
  position: relative;
}

pre.highlighted {
  padding: 1rem;
  width: 100%;
  overflow: auto;
}

pre.highlighted .line-highlight {
  transform: translateX(calc(-1rem - 3px));
  text-indent: calc(1rem + 3px);
  height: 1.6em;
  width: calc(100% + 2rem + 3px);
  display: block;
  background: rgb(31, 64, 75);
  border-left: 3px solid #09c;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
  color: #57595a;
}

a,
a code {
  color: inherit;
  text-decoration: none;
}

p a,
span a {
  text-decoration: underline;
}

a:hover {
  color: #09d;
  text-decoration: underline;
}

blockquote {
  border-left: 3px solid #dbdddf;
  margin: 0 0 0 -3px;
  padding: 1em;
  background: #f6f8fa;
}

blockquote code {
  background: #fff;
}
