<attrs/{ value, valueChange, renderBody, class:className }/>
<select/el class=className onChange(e) { valueChange(e.target.value); }>
  <${renderBody}/>
</select>
<effect() {
  el().value = value;
  // TODO: should not have to have these here
  renderBody; valueChange;
}/>